<div class="body"></div>
<div class="grad"></div>
<div class="header">
<div>Fleuriste</div><br>
<a href="signup"> New Florist? </a>
</div>
<br>
<div class="login">
<form action="/" method="POST">
<input type="text" placeholder="username" name="user"><br><br>
<input type="password" placeholder="password" name="pwd"><br>
<input type="submit" name="lemme" value="Let me in.">
<p class="msg"> {{message}}</p>
</form>
</div>