<div class="body"></div>
<div class="grad"></div>
<div class="signup">
<p class="msg">{{message}}</p>
<p>Enter the Your details:</p>
<form action="/signup" method="POST">
<input type="text" placeholder="ID*" name="id" required><br>
<input type="text" placeholder="First Name*" name="fname" required><br>
<input type="text" placeholder="Last Name*" name="lname" required><br>
<input type="number" placeholder="Contact No*" name="num" required><br><br>
<input type="text" placeholder="Username*" name="user" required><br>
<input type="password" placeholder="Password*" name="pwd" required><br>
<input type="password" placeholder="Confirm Password*" name="conpwd" required><br>
<input type="submit" name="submit" value="Submit.">
</form>
</div>
