	<div class="body"></div>
	<div class="grad"></div>
	<div class="welcome"> 
	<p class="wel">Welcome {{name}}</p>
	<a href="/customer"> Take Order </a><br>
	<a href="/items"> Add new Items </a><br>
	<a href="/upitems"> Update Items </a><br>
	<a href="/delitems"> Delete Items </a><br>
	<br><br>
	<form action="/welcome" method="POST">
	<input type="submit" name="logo" value="Log Out.">
	</form>
	</div>